@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: auto;
  }

  body {
    @apply bg-white_light font-sans font-normal text-dark;
  }

  textarea:focus,
  textarea:active {
    @apply rounded-sm !outline-2 !outline-offset-0 !outline-primary;
  }
}

@layer components {
  body:has(.disable-scroll) {
    overflow: hidden;
  }
  /* Start classes for buttons */
  .button {
    @apply flex w-[259px] items-center justify-center gap-5 bg-primary px-5 py-3 text-center text-lg font-semibold text-white_light hover:bg-hover focus:bg-hover;
  }
  /* End classes for buttons */

  /* Classes for header */
  .sticky .header-logo {
    @apply py-5 xl:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }
  /* End classes for header */

  /* Start classes for offer */

  @media screen and (min-width: 1280px) {
    .offerBg {
      background-image: url('/images/hero/imageBg.svg');
      background-repeat: no-repeat;
      background-size: 1360px;
      background-position: 50% 100%;
    }

    .offerParagraph::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-bottom: 1px solid #d6dfe6;
    }
  }
  /* End classes for offer */

  /* Start classes for workWithUs */

  @media screen and (min-width: 768px) {
    .workWithUs::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 900px;
      border-left: 1px solid #d6dfe6;
    }
  }

  @media screen and (min-width: 1280px) {
    .workWithUs::before {
      height: 972px;
    }
  }

  /* End classes for workWithUs */

  /* Start classes for contacts */

  @media screen and (min-width: 768px) {
    .contacts {
      background-image: url('/images/contacts.svg');
      background-repeat: no-repeat;
      background-size: 278px;
      background-position: 20% 100%;
    }
  }
  @media screen and (min-width: 1280px) {
    .contacts {
      background-size: 396px;
      background-position: bottom left calc(50% - 300px);
    }
  }

  /* End classes for contacts */

  /* Start classes for 404 page */
  .notFound {
    background-image: url('/images/404/bg-mob.svg');
    background-repeat: no-repeat;
    background-position: top center;
  }
  @media screen and (min-width: 1280px) {
    .notFound {
      background-image: url('/images/404/bg.svg');
      background-size: 1302px auto;
    }
  }
  /* End classes for 404 page */

  /* Start classes for slider */
  .dots {
    @apply flex justify-center;
  }
  .dot {
    @apply h-[2px] w-full rounded-sm bg-disabled;
  }
  .dots .active {
    @apply bg-primary;
  }
  .keen-slider__slide {
    @apply h-[380px] w-[320px] md:w-[336px] xl:h-[400px] xl:w-[392px];
  }
  .gradient {
    background: linear-gradient(
      180deg,
      rgba(37, 101, 208, 0) 37.25%,
      #2565d0 117.25%
    );
  }
  /* End classes for slider */

  /* Start classes for tabs */
  .tab-section-title::after {
    content: '';
    position: absolute;
    bottom: -24px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #d6dfe6;
  }

  @media screen and (min-width: 768px) {
    .tab-section-title::after {
      display: none;
    }
  }

  @media screen and (min-width: 1280px) {
    .tab-section-title::after {
      display: block;
      bottom: -16px;
    }
  }

  .tab-card::after {
    content: '';
    position: absolute;
    bottom: -24px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #d6dfe6;
  }

  .tab-card:last-child::after {
    display: none;
  }
  /* End classes for tabs */

  /* Start classes for services */
  .services-text-wrapper {
    background-color: #ffffff;
    background-image: url('/images/services/servicesBg.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media screen and (min-width: 1280px) {
    .services-text-wrapper {
      background-size: 376px 210px;
    }
  }

  .service::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    display: block;
    height: 1px;
    width: calc(100% - 8px);
    background-color: #2565d0;
  }

  @media screen and (min-width: 768px) {
    .service:nth-child(2n + 1) .service-inner {
      border-right: none;
    }

    .service:last-child::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      display: block;
      height: 1px;
      width: calc(100% - 8px);
      background-color: #2565d0;
    }
  }

  @media screen and (min-width: 1280px) {
    .service:first-child {
      position: absolute;
      top: 50%;
      right: 555px;
      transform: translateY(-50%);
    }

    .service .service-inner {
      border-right: none;
    }

    .service:nth-child(2)::before {
      display: none;
    }

    .service:nth-child(3)::before {
      display: none;
    }

    .service:nth-last-child(2)::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      display: block;
      height: 1px;
      width: calc(100% - 8px);
      background-color: #2565d0;
    }
  }

  /* End classes for services */

  /* Start classes for you get card */
  .get-card--top::before {
    content: '';

    position: absolute;
    top: -3px;
    left: -3px;

    display: block;
    width: 5px;
    height: 5px;
    background: #2565d0;

    z-index: 1;
  }
  .get-card--top::after {
    content: '';

    position: absolute;
    top: -3px;
    right: -3px;

    display: block;
    width: 5px;
    height: 5px;
    background: #2565d0;

    z-index: 1;
  }

  .get-card--bottom::before {
    content: '';

    position: absolute;
    bottom: -3px;
    left: -3px;

    display: block;
    width: 5px;
    height: 5px;
    background: #2565d0;

    z-index: 1;
  }
  .get-card--bottom::after {
    content: '';

    position: absolute;
    bottom: -3px;
    right: -3px;

    display: block;
    width: 5px;
    height: 5px;
    background: #2565d0;

    z-index: 1;
  }
  @media screen and (min-width: 768px) {
    .get-card:nth-last-child(2) {
      border-bottom: 1px solid #d6dfe6;
    }
  }
  @media screen and (min-width: 1280px) {
    .get-card:nth-last-child(-n + 4) {
      border-bottom: 1px solid #d6dfe6;
    }
    .get-card:nth-child(4n + 2) {
      border-right: 0;
    }
  }
  /* End classes for you get card */

  /* Start classes for portfolio-hero */
  .portfolio-hero-bg {
    background-image: url('/images/portfolio-hero/bg-hero-1x.png'),
      url('/images/portfolio-hero/line-mobile.svg'),
      url('/images/portfolio-hero/line-mobile.svg'),
      url('/images/portfolio-hero/line-mobile.svg'),
      url('/images/portfolio-hero/line-mobile.svg'),
      url('/images/portfolio-hero/square.svg'),
      url('/images/portfolio-hero/square.svg'),
      url('/images/portfolio-hero/square.svg'),
      url('/images/portfolio-hero/square.svg');
    background-repeat: no-repeat;
    background-size: 292px 238px, /* line */ 2px 302px, 2px 302px, 2px 302px,
      2px 302px, /* square */ 20px, 8px, 8px, 20px;
    background-position: right 50% bottom 42px,
      /* line */ left calc(50% - calc(50% - 20px)) bottom,
      right calc(100vw / 3) bottom, left calc(100vw / 3) bottom,
      right calc(50% - calc(50% - 20px)) bottom,
      /* square */ left calc(50% - calc(50% - 21px)) bottom 252px,
      left calc(100vw / 3 + 29px) bottom 20px,
      right calc(100vw / 3 - 19px) bottom 276px,
      right calc(50% - calc(50% - 21px)) bottom 66px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .portfolio-hero-bg {
      background-image: url('/images/portfolio-hero/bg-hero-2x.png'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg');
    }
  }

  @supports (background-image: url('/images/portfolio-hero/bg-hero-1x.webp')) {
    .portfolio-hero-bg {
      background-image: url('/images/portfolio-hero/bg-hero-1x.webp'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg');
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-2x.webp'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
    }
  }

  @media screen and (min-width: 480px) {
    .portfolio-hero-bg {
      background-image: url('/images/portfolio-hero/bg-hero-1x.png'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/line-mobile.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg');
      background-repeat: no-repeat;
      background-size: 292px 238px, /* line */ 2px 302px, 2px 302px, 2px 302px,
        2px 302px, 20px, 8px, 8px, 20px;
      background-position: right 50% bottom 42px,
        /* line */ left calc(50% - 220px) bottom,
        right calc(50% - calc(480px / 3 / 2)) bottom,
        left calc(50% - calc(480px / 3 / 2)) bottom,
        right calc(50% - 220px) bottom,
        /* square */ left calc(50% - 220px + 10px) bottom 252px,
        left calc(calc(50% - calc(480px / 3 / 2)) + 29px) bottom 20px,
        right calc(calc(50% - calc(480px / 3 / 2)) - 19px) bottom 276px,
        right calc(50% - 220px + 10px) bottom 66px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-2x.png'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
    }
    @supports (
      background-image: url('/images/portfolio-hero/bg-hero-1x.webp')
    ) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-1x.webp'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/line-mobile.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .portfolio-hero-bg {
          background-image: url('/images/portfolio-hero/bg-hero-2x.webp'),
            url('/images/portfolio-hero/line-mobile.svg'),
            url('/images/portfolio-hero/line-mobile.svg'),
            url('/images/portfolio-hero/line-mobile.svg'),
            url('/images/portfolio-hero/line-mobile.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg');
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .portfolio-hero-bg {
      background-image: url('/images/portfolio-hero/bg-hero-1x.png'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg');
      background-repeat: no-repeat;
      background-size: 444px 361px, /* line */ 100% 100%, 100% 100%, 100% 100%,
        /* square */ 20px, 8px, 8px, 8px, 20px;
      background-position: right calc(50% - 130px) bottom 52px,
        /* line */ left calc(50% - 53px) bottom, right calc(50% - 107px) bottom,
        right calc(50% - 267px) bottom,
        /* square */ left calc(50% - 37px) top 58px,
        right calc(50% - 2px) top 236px, right calc(50% - 93px) bottom 23px,
        right calc(50% - 279px) top 27px,
        right calc(50% - 384px + 42px) bottom 69px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-2x.png'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
    }
    @supports (
      background-image: url('/images/portfolio-hero/bg-hero-1x.webp')
    ) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-1x.webp'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .portfolio-hero-bg {
          background-image: url('/images/portfolio-hero/bg-hero-2x.webp'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg');
        }
      }
    }
  }
  @media screen and (min-width: 1280px) {
    .portfolio-hero-bg {
      background-image: url('/images/portfolio-hero/bg-hero-1x.png'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/line.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg'),
        url('/images/portfolio-hero/square.svg');
      background-repeat: no-repeat;
      background-size: 641px 536px, /* line */ 100% 100%, 100% 100%, 100% 100%,
        100% 100%, 100% 100%, /* square */ 20px, 8px, 8px, 8px, 20px, 8px, 8px,
        8px;
      background-position: right calc(50% - 284px) bottom 67px,
        /* line */ left calc(50% - 33px) bottom, right calc(50% - 127px) bottom,
        right calc(50% - 287px) bottom, right calc(50% - 447px) bottom,
        right calc(50% - 607px) bottom,
        /* square */ left calc(50% - 17px) top 58px,
        right calc(50% - 22px) top 236px, right calc(50% - 113px) bottom 23px,
        right calc(50% - 299px) top 27px, right calc(50% - 372px) bottom 69px,
        right calc(50% - 508px) bottom 19px, right calc(50% - 539px) top 30px,
        right calc(50% - 593px) bottom 89px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-2x.png'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
    }
    @supports (
      background-image: url('/images/portfolio-hero/bg-hero-1x.webp')
    ) {
      .portfolio-hero-bg {
        background-image: url('/images/portfolio-hero/bg-hero-1x.webp'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/line.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg'),
          url('/images/portfolio-hero/square.svg');
      }
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .portfolio-hero-bg {
          background-image: url('/images/portfolio-hero/bg-hero-2x.webp'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/line.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg'),
            url('/images/portfolio-hero/square.svg');
        }
      }
    }
  }
  /* End classes for portfolio-hero */

  /* Start classes for problem-solution section */
  .problem-section-box::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
    display: block;
    height: 1px;
    width: calc(100% - 8px);
    background-color: #2565d0;
  }
  .problem-section-box::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: calc(100% - 8px);
    background-color: #2565d0;
  }

  .problem-section-item::before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 50%;
    transform: translateX(50%);
    display: block;
    height: 1px;
    width: calc(100% - 8px);
    background-color: #2565d0;
  }
  .problem-section-item::after {
    content: '';
    position: relative;
    top: -50%;
    left: -1px;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: calc(100% - 8px);
    background-color: #2565d0;
  }

  @media screen and (min-width: 768px) {
    .problem-section-item::after {
      content: '';
      position: relative;
      top: -50%;
      left: 0px;
      transform: translateY(-50%);
      display: block;
      width: 1px;
      height: calc(100% - 8px);
      background-color: #2565d0;
    }
  }

  /* End classes for problem-solution section */

  /* Start classes for problem-solution section */
  .feedback-wrapper::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% - 40px);
    height: 2px;
    background-color: #d6dfe6;
  }

  @media screen and (min-width: 768px) {
    .feedback-wrapper::after {
      bottom: -40px;
    }
  }

  @media screen and (min-width: 1280px) {
    .feedback-wrapper::after {
      width: 804px;
      bottom: -76px;
    }
  }

  /* End classes for problem-solution section */
}
